<template>
  <div class="card">
    <div class="card-content">
      <b-field>
        <p class="image" @click="$parent.close()">
          {{ isCoverArtPresent ? "" : "No cover art present!" }}
          <img v-if="isCoverArtPresent" :src="coverArtURL" alt="" />
        </p>
      </b-field>
      <b-field grouped>
        <div class="control is-expanded">
          <button
            class="button "
            :disabled="!isCoverArtPresent"
            @click="removeCoverArt"
          >
            Remove
          </button>
        </div>
        <input
          ref="coverArtInput"
          type="file"
          style="display:none"
          @input="openCoverArt($event.target.files[0])"
        />

        <button
          class="button is-primary is-outlined"
          @click="$refs.coverArtInput.click()"
        >
          {{ isCoverArtPresent ? "Change" : "Add" }}
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
export default {
  name: "CoverArtModal",
  components: {},
  props: {},
  data() {
    return {};
  },
  computed: {
    isCoverArtPresent() {
      return this.$store.state.coverArtBuffer.length !== 0;
    },
    coverArtURL() {
      return window.URL.createObjectURL(
        new Blob([this.$store.state.coverArtBuffer], { type: "image/jpeg" })
      );
    }
  },
  methods: {
    openCoverArt(file) {
      let reader = new FileReader();
      reader.onload = e => {
        this.$store.commit("updateCoverArt", new Uint8Array(e.target.result));
      };
      reader.readAsArrayBuffer(file);
    },
    removeCoverArt() {
      this.$store.commit("updateCoverArt", new Uint8Array());
    }
  }
};
</script>

<style>
.field-label.no-top-padding {
  padding-top: 0;
}
p {
  text-align: center;
}
img {
  max-height: 60vh;
  object-fit: contain;
}
</style>
