<template>
  <div id="dropbanner">
    <div id="dropbanner-border">
      <span>
        Drop files here
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "DropBanner",
  components: {}
};
</script>

<style scoped>
#dropbanner,
#dropbanner-border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#dropbanner {
  pointer-events: none;
  position: fixed;
  z-index: 50;
  width: calc(100% + 0.5rem);
  align-items: stretch;
  height: calc(100% - 3.25rem);
  background: rgba(256, 256, 256, 0.8);
  color: #222;
  top: 3.25rem;
  left: -0.5rem;
}
#dropbanner-border {
  height: 100%;
  margin: 2rem 2rem;
  border: 2px dashed #222;
  border-radius: 2rem;
}
#dropbanner span {
  margin: 0.5rem;
}
</style>
